[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# camelsml = {editable = true, path = "/home/bernhard/git/ealstm_regional_modeling_camels_gb"}
camelsml = "*"
jupyterlab = "==2.2.9"
nb-black = "*"
netcdf4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
